* {
    margin:0;
    padding:0;
    word-break:break-all;
}



/* HEADER */
.header{
    display:flex;
    padding-left:10%;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid black;
    font-size: 2em;
    font-weight: bold;
}




/* LIBRARY */
.addBookClass{
    display:flex;
    margin-top: 40px;    
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
}

.addBookBtn{
    padding-left:40px;
    padding-right:40px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 10px;
    font-size: 1em;
    font-weight: bold;
}

.library{
    display:grid;
    padding-left: 15%;
    padding-right: 15%;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
    gap:10px;
    align-items: center;
    justify-items: center;
}

.bookDiv{
    width: 100px;
    height: 100px;
    background-color: rgb(218, 216, 216);
    border-radius: 5px;
}

.titleDiv{
    font-size: 16px;
    padding-left: 10%;
    padding-top: 10%;
}

.authorDiv{
    font-size: 16px;
    padding-left: 10%;
    padding-top: 10%; 
}

.pagesDiv{
    font-size: 16px;
    padding-left: 10%;
    padding-top: 10%;
}

.readDiv{
    font-size: 16px;
    padding-left: 10%;
    padding-top: 10%;
}



/* MODAL */
.modal {
    display: block;
    font-family: arial;
    color: #212121;
    bottom: 0;
    background-color: rgb(240, 238, 238);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    justify-items: center;
    text-align: center;
    width: 200px;
    border-radius: 5px;
  }

.modal > * {
    display: block;
    justify-items: center;
    margin: 10px;
    width: auto;
}

.readQuestion, .TrFaRead{
    display:inline-block;
    justify-items: center;
    text-align: center;
    font-size: 10px;
}

.submitBtn{
    padding-left:20px;
    padding-right:20px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 10px;
    font-size: 0.8em;
    background-color: green;
}




/* FOOTER */
.footer {
    font-family: arial;
    color: #212121;
    font-size: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 10px;
    text-align: center;
  }